<article class="card" itemscope itemtype="http://schema.org/Article" aria-label="news headline">
    <div class="card-img" role="img" aria-label="{{ news.title }}">
        <img src="{{news.image_url}}" alt="{{ news.title }}">
    </div>
    <div class="card-rest">
        <h3 class="news_title" aria-label="news headline">
            {{ news.title }}
        </h3>
        <p class="published_at" aria-label="news published date">{{ news.published_date }}</p>
        <br>
        <p class="card-news-description" aria-label="Go to news website">{{ news.summary }}</p>

        <div class="card-bottom">
            <span class="source-name">
                <a href="{{ news.source_url }}" target="_blank" itemprop="author" aria-label="Go to news website"
                    class="source-name-link">
                    {{ news.source_name }}
                </a>
            </span>
          
            <div class="share-dropdown">
                <span class="share-button" aria-label="Share Button" onclick="toggleDropdown(this)">
                    <i class="fa fa-share-alt"></i>
                </span>
                <div class="share-options" style="display: none;">

                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ news.source_url }}" target="_blank" class="d-links">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                    <a href="https://twitter.com/intent/tweet?url={{ news.source_url }}" target="_blank" class="d-links">
                        <i class="fa fa-twitter"></i> 
                    </a>
                    <a href="https://telegram.me/share/url?url={{ news.source_url }}" target="_blank" class="d-links">
                        <i class="fa fa-telegram"></i>
                    </a>
                    <button onclick="copyLink('{{ news.source_url }}')" aria-label="Copy Link" class="copy-btn">
                        <i class="fa fa-link"></i>
                    </button>
                    <span style="display: none;" id="hidden-source">{{ news.source_url }}</span>
                </div>
            </div>
        </div>
    </div>
</article>